<div class="learn-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 content">
        <div class="view-course">
          <iframe
            class="view-course-ytb"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <button class="view-course__expand-btn" (click)="expandLesson()">
            <span class="icon"><i class="fas fa-arrow-left"></i></span
            ><span>Nội dung học</span>
          </button>
        </div>
        <div class="relate-content">
          <div class="tabs">
            <div class="tab-item active">
              <span class="tab-item__name">Tổng quan</span>
            </div>
            <div class="tab-item">
              <span class="tab-item__name">Ghi chú</span>
            </div>
            <div class="tab-item">
              <span class="tab-item__name">Các khóa học liên quan</span>
            </div>
            <div class="tab-line"></div>
          </div>
          <div class="tab-content">
            <div class="tab-pane comment-tab active">
              <div class="container-fluid">
                <div class="row">
                  <div class="col col-lg-9">
                    <h3 class="comment-tab__total">
                      {{ currentLesson?.comments.length }} hỏi đáp
                    </h3>
                    <div class="comment-tab__input-box">
                      <img
                        src="{{ user?.avatar }}"
                        alt=""
                        class="comment-tab__input-box-avt"
                      />
                      <form
                        class="comment-tab__input-form"
                        [formGroup]="formComment"
                        (ngSubmit)="pushComment()"
                      >
                        <input
                          type="text"
                          class="comment-tab__input"
                          placeholder="Bạn có thắc mắc gì trong bài học này?"
                          (focus)="showBtn()"
                          formControlName="content"
                        />
                        <div class="comment-tab__btn-group">
                          <button
                            class="comment-tab__btn-cancel"
                            (click)="hideBtn()"
                          >
                            Hủy
                          </button>
                          <button type="submit" class="comment-tab__btn-submit">
                            Bình luận
                          </button>
                        </div>
                      </form>
                    </div>
                    <ul class="comment-tab__list">
                      <li
                        class="comment-tab__item"
                        *ngFor="let comment of currentLesson?.comments"
                      >
                        <img
                          class="comment-tab__avt"
                          src="{{ comment?.user_id?.avatar }}"
                          alt=""
                        />
                        <div class="comment-tab__content">
                          <h4 class="comment-tab__content-name">
                            {{ comment?.user_id?.name }}
                          </h4>
                          <p class="comment-tab__content-text">
                            {{ comment?.content }}
                          </p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col col-lg-3"></div>
                </div>
              </div>
            </div>
            <div class="tab-pane"></div>
            <div class="tab-pane relate-courses">
              <div class="course-manager__course-list">
                <div class="container-fluid">
                  <div class="row">
                    <div
                      class="col col-lg-3"
                      *ngFor="let course of relateCourses"
                    >
                      <div
                        class="course-manager__course-item"
                        [routerLink]="['/courses', course.slug]"
                        style="
                        background-image: url({{ course?.image }});
                      "
                      ></div>
                      <div class="course-manager__course-detail">
                        <a
                          class="course-manager__course-name"
                          [routerLink]="['/courses', course.slug]"
                        >
                          {{ course.name }}
                        </a>
                        <!-- <p class="course-manager__course-members">
                          <i
                            class="fas fa-users course-manager__course-members-icon"
                          ></i>
                          {{ course.total_member }}
                        </p> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="container-fluid">
                <div class="row">
                  <div class="col col-12">
                    <ul class="list-relate-courses">
                      <li
                        class="item-relate-course"
                        *ngFor="let course of relateCourses"
                      >
                        {{ course.name }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 lessons">
        <ul class="list-lesson">
          <div class="list-lesson__heading">
            <div class="list-lesson__description">
              <h3 class="list-lesson__name">{{ course?.name }}</h3>
              <!-- <p class="list-lesson__progress">
                Bạn đang học bài
                <strong>{{}}/{{ lessonList.length }}</strong> bài học
              </p> -->
            </div>
            <div class="list-lesson__btn-collapse" (click)="collapseLesson()">
              <i class="fas fa-arrow-right list-lesson__collapse-icon"></i>
            </div>
          </div>
          <li
            class="list-lesson-item"
            *ngFor="let lesson of lessonList; index as idx; first as isFirst"
            [ngClass]="{ 'active': isFirst }"
            routerLink="/learn/{{ course.slug }}"
            [queryParams]="{ _id: lesson._id }"
            (click)="changeCurrentVideo(lesson._id)"
          >
            <span>{{ idx + 1 }}. </span>{{ lesson?.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
