<div class="learn-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 content">
        <div class="view-course">
          <iframe
            class="view-course-ytb"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <button class="view-course__expand-btn" (click)="expandLession()">
            <span class="icon"><i class="fas fa-arrow-left"></i></span
            ><span>Nội dung học</span>
          </button>
          
        </div>
        <div class="relate-content">
          <div class="tabs">
            <div class="tab-item active">
              <span class="tab-item__name">Tổng quan</span>
            </div>
            <div class="tab-item">
              <span class="tab-item__name">Ghi chú</span>
            </div>
            <div class="tab-item">
              <span class="tab-item__name">Các khóa học liên quan</span>
            </div>
            <div class="tab-line"></div>
          </div>
          <div class="tab-content">
            <div class="tab-pane comment-tab active">
              <div class="container-fluid">
                <div class="row">
                  <div class="col col-lg-9">
                    <h3 class="comment-tab__total">
                      {{ currentLession.comments.length }} hỏi đáp
                    </h3>
                    <div class="comment-tab__input-box">
                      <img
                        src="{{ user?.avatar }}"
                        alt=""
                        class="comment-tab__input-box-avt"
                      />
                      <form
                        class="comment-tab__input-form"
                        [formGroup]="formComment"
                        (ngSubmit)="pushComment()"
                      >
                        <input
                          type="text"
                          class="comment-tab__input"
                          placeholder="Bạn có thắc mắc gì trong bài học này?"
                          (focus)="showBtn()"
                          formControlName="content"
                        />
                        <div class="comment-tab__btn-group">
                          <button
                            class="comment-tab__btn-cancel"
                            (click)="hideBtn()"
                          >
                            Hủy
                          </button>
                          <button
                            type="submit"
                            class="comment-tab__btn-submit"
                          >
                            Bình luận
                          </button>
                        </div>
                      </form>
                    </div>
                    <ul class="comment-tab__list">
                      <li
                        class="comment-tab__item"
                        *ngFor="let comment of currentLession.comments"
                      >
                        <img
                          class="comment-tab__avt"
                          src="{{ comment?.user?.avatar }}"
                          alt=""
                        />
                        <div class="comment-tab__content">
                          <h4 class="comment-tab__content-name">
                            {{ comment?.user?.name }}
                          </h4>
                          <p class="comment-tab__content-text">
                            {{ comment?.content }}
                          </p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col col-lg-3"></div>
                </div>
              </div>
            </div>
            <div class="tab-pane"></div>
            <div class="tab-pane"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 lessions">
        <ul class="list-lession">
          <div class="list-lession__heading">
            <div class="list-lession__description">
              <h3 class="list-lession__name">{{ course?.name }}</h3>
              <p class="list-lession__progress">
                Hoàn thành <strong>1/{{ lessionList.length }}</strong> bài học
                <strong>(100%)</strong>
              </p>
            </div>
            <div class="list-lession__btn-collapse" (click)="collapseLession()">
              <i class="fas fa-arrow-right list-lession__collapse-icon"></i>
            </div>
          </div>
          <li
            class="list-lession-item"
            *ngFor="let lession of lessionList; index as idx; first as isFirst"
            [ngClass]="isFirst ? 'active' : ''"
            routerLink="/learn/{{ course.slug }}"
            [queryParams]="{ _id: lession._id }"
            (click)="changeCurrentVideo()"
          >
            <span>{{ idx + 1 }}. </span>{{ lession?.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
