:root {
  --font-family: "Montserrat", sans-serif;
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #666;
  --primary-color: #567df4;
  --bg-color: #f7fafc;
  --text-color: #333;
  --sidebar-text: #404040;
  --sidebar-hover: #f5f5f5;
  --sidebar-active: #e8ebed;
  --icon-color: #82919b;
  --border-input: rgba(22, 24, 35, 0.06);
  --header-learn: #29303b;
  --course-heading: #b5f1f4;
}
