<div class="login-page">
  <div class="box-login">
    <header class="box-login__heading">
      <a href="/" class="heading__logo">Let's Learn</a>
      <h1 class="heading__title">
        {{
          isLogin
            ? "Đăng nhập vào Let's Learn"
            : "Đăng ký tài khoản Let's Learn"
        }}
      </h1>
    </header>
    <div class="box-login__form">
      <form
        [formGroup]="loginForm"
        class="login-form"
        (ngSubmit)="loginOrRegister()"
      >
        <div class="form__group" *ngIf="!isLogin">
          <label class="form__label" for="name">Tên của bạn?</label>
          <input
            class="form__input"
            type="text"
            id="name"
            formControlName="name"
            placeholder="Họ và tên của bạn"
          />
        </div>
        <div class="form__group">
          <label class="form__label" for="email">Email</label>
          <input
            class="form__input"
            type="email"
            id="email"
            formControlName="email"
          />
        </div>
        <div class="form__group">
          <label class="form__label" for="password">Password</label>
          <input
            class="form__input"
            type="password"
            id="password"
            formControlName="password"
          />
        </div>
        <div class="form__group" *ngIf="!isLogin">
          <label class="form__label" for="role">Tư cách</label>
          <select class="form__input" id="role" formControlName="role">
            <option value="" selected disabled hidden>
              --Chọn tư cách của bạn--
            </option>
            <option value="{{ roleList[2]._id }}">Học viên</option>
            <option value="{{ roleList[1]._id }}">Giảng viên</option>
          </select>
        </div>
        <button type="submit" class="form__btn-submit btn btn-primary my-2">
          {{ isLogin ? "Đăng nhập" : "Đăng ký" }}
        </button>
      </form>
    </div>
    <div class="box-login__footer">
      <p class="footer__text">
        {{ isLogin ? "Bạn chưa có tài khoản?" : "Bạn đã có tài khoản?" }}
        <span (click)="changeStatus()" href="" class="footer__link">{{
          isLogin ? "Đăng ký" : "Đăng nhập"
        }}</span>
      </p>
    </div>
  </div>
</div>
