<div class="lession-manager">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-lg-8">
        <div class="lession-manager__detail">
          <div class="lession-manager__header">
            <div class="lession-manager__header-left">
              <h1 class="lession-manager__course-name">
                {{ course?.name }}
              </h1>
              <p class="lession-manager__course-description">
                {{ course?.description }}
              </p>
            </div>
          </div>
          <div class="lession-manager__content">
            <h2 class="lession-manager__title">Nội dung khóa học</h2>
            <p class="lession-manager__count">
              <i class="fas fa-circle"></i>{{ lessionList.length }} bài học
            </p>
            <ng-container *ngIf="lessionList.length > 0; else elseTemplate">
              <ul class="lession-manager__list">
                <li
                  class="lession-manager__item"
                  *ngFor="let lession of lessionList"
                >
                  <span class="lession-manager__item-name">
                    {{ lession.name }}
                  </span>
                  <div class="lession-manager__item-controls">
                    <span
                      class="lession-manager__item-btn"
                      (click)="toggleEdit(lession._id)"
                      ><i class="fas fa-pen lession-manager__item-edit-icon"></i
                    ></span>
                    <span
                      class="lession-manager__item-btn"
                      (click)="deleteLession(lession._id)"
                      ><i
                        class="fas fa-times lession-manager__item-delete-icon"
                      ></i
                    ></span>
                  </div>
                </li>
              </ul>
            </ng-container>
            <ng-template #elseTemplate>
              <div class="lession-manager__non">
                Hãy thêm bài học cho khóa học này
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="lession-manager__course">
          <img
            src="{{ course?.image }}"
            class="lession-manager__course-img"
            alt=""
            height="220px"
            width="390px"
          />
          <div class="lession-manager__course-detail">
            <button
              class="lession-manager__add-btn form__btn-submit btn btn-primary"
              (click)="toggleLessionForm()"
            >
              <i class="fas fa-plus lession-manager__add-icon"></i>
              Thêm bài học mới
            </button>
            <h1 class="lession-manager__course-free">Miễn phí</h1>
            <ul class="lession-manager__course-list-detail">
              <li class="lession-manager__course-detail-item">
                <i class="fas fa-film lession-manager__course-detail-icon"></i>
                <span
                  >Tống số <strong>{{ lessionList.length }}</strong> bài
                  học</span
                >
              </li>
              <li class="lession-manager__course-detail-item">
                <i
                  class="
                    fas
                    fa-battery-full
                    lession-manager__course-detail-icon
                  "
                ></i>
                <span>Học mọi lúc, mọi nơi</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="lession-form__modal" (click)="toggleLessionForm()">
  <form
    [formGroup]="lessionForm"
    class="lession-form"
    (ngSubmit)="lessionFormSubmit()"
    (click)="$event.stopPropagation()"
  >
    <header class="lession-form__header">
      <h2 class="lession-form__heading">
        {{ isEdit ? "Chỉnh sủa bài học" : "Thêm bài học mới" }}
      </h2>
    </header>
    <hr />
    <div class="form__group">
      <label class="form__label" for="name">Tên bài học?</label>
      <input
        class="form__input"
        type="text"
        id="name"
        formControlName="name"
        [(ngModel)]="selectedLession.name"
        placeholder="Tên bài học"
      />
    </div>
    <div class="form__group">
      <label class="form__label" for="videoLink">Video link</label>
      <input
        class="form__input"
        type="text"
        id="videoLink"
        formControlName="videoLink"
        [(ngModel)]="selectedLession.videoLink"
        placeholder="Link video, ví dụ: https://youtu.be/zxdSHfZFKkY..."
      />
    </div>
    <div class="form__btn-group">
      <button type="submit" class="form__btn-submit btn btn-primary my-1">
        {{ isEdit ? "Cập nhật bài học này" : "Thêm bài học này" }}
      </button>
      <button
        type="button"
        class="form__btn-submit btn btn-danger"
        (click)="toggleLessionForm()"
      >
        Hủy bỏ
      </button>
    </div>
  </form>
</div>
