<div class="app">
  <div class="app__header">
    <app-header [user]="user"></app-header>
  </div>
  <div class="app__container">
    <app-sidebar [user]="user"></app-sidebar>
    <div class="app__content">
      <router-outlet class="app__router"></router-outlet>
    </div>
  </div>
  <div class="app__footer">
    <app-footer></app-footer>
  </div>
  <div class="app_chat-container" *hasPermission="'student'; user: user">
    <button class="app_chat-btn" (click)="toggleBoxChat(user.name)">
      Chatbot
    </button>
    <div class="app_chat-box">
      <div class="app_chat-box-header">
        <img
          src="https://www.silcube.com/hubfs/avatars/non-avatar.webp"
          alt=""
          class="app_chat-box-avt"
        />
        <span>Chatbot</span>
      </div>
      <ul class="app_chat-box-messages">
        <!-- <li
          class="app_chat-box-message"
          *ngFor="let message of messageArray"
          [ngClass]="message.user === user?.name ? 'same_user' : ''"
        >
          <img
            *ngIf="message.user !== user?.name"
            src="https://www.silcube.com/hubfs/avatars/non-avatar.webp"
            alt=""
            class="app_chat-box-avt-chatbot"
          />
          <ng-container
            *ngIf="IsJsonString(message.message); else elseNoCourse"
          >
            <p class="app_chat-box-text" ng></p>
          </ng-container>
          <ng-template #elseNoCourse>
            <p class="app_chat-box-text">{{ message.message }}</p>
          </ng-template>

          <ng-container *ngIf="courseShow.length > 0; else elseNoCourses">
            <p class="app_chat-box-text" *ngFor="let course of courseShow">
              {{ course.name }}
            </p>
          </ng-container>
          <ng-template #elseNoCourses>
            <p class="app_chat-box-text">{{ message.message }}</p>
          </ng-template>
        </li> -->
      </ul>
      <form
        class="app_chat-box-form"
        [formGroup]="msgForm"
        (ngSubmit)="sendMessage()"
      >
        <input
          class="app_chat-box-input"
          formControlName="text"
          autocomplete="off"
        />
        <div class="app_chat-box-btn">
          <button class="app_chat-box-send-btn" type="submit">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
