<div class="lession-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-lg-8">
        <div class="lession-page__detail">
          <div class="lession-page__header">
            <div class="lession-page__header-left">
              <h1 class="lession-page__course-name">
                {{ course?.name }}
              </h1>
              <p class="lession-page__course-description">
                {{ course?.description }}
              </p>
            </div>
          </div>
          <div class="lession-page__content">
            <h2 class="lession-page__title">Nội dung khóa học</h2>
            <p class="lession-page__count">
              <i class="fas fa-circle"></i>{{ lessionList.length }} bài học
            </p>
            <ng-container *ngIf="lessionList.length > 0; else elseTemplate">
              <ul class="lession-page__list">
                <li
                  class="lession-page__item"
                  *ngFor="let lession of lessionList"
                >
                  <span class="lession-page__item-name">
                    {{ lession.name }}
                  </span>
                </li>
              </ul>
            </ng-container>
            <ng-template #elseTemplate>
              <div class="lession-page__non">
                Hãy thêm bài học cho khóa học này
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col col-lg-4">
        <div class="lession-page__course">
          <img
            src="{{ course?.image }}"
            class="lession-page__course-img"
            alt=""
            height="220px"
            width="390px"
          />
          <button
            class="lession-page__btn-dangky btn btn-primary form__btn-submit"
            (click)="registerCourse(course._id)"
          >
            Đăng ký học
          </button>
          <div class="lession-page__course-detail">
            <h1 class="lession-page__course-free">Miễn phí</h1>
            <ul class="lession-page__course-list-detail">
              <li class="lession-page__course-detail-item">
                <i class="fas fa-film lession-page__course-detail-icon"></i>
                <span
                  >Tống số <strong>{{ lessionList.length }}</strong> bài
                  học</span
                >
              </li>
              <li class="lession-page__course-detail-item">
                <i
                  class="fas fa-battery-full lession-page__course-detail-icon"
                ></i>
                <span>Học mọi lúc, mọi nơi</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
